<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectHer - Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>
    <div class="landing-wrapper">
        <h1 class="logo-text">ConnectHer</h1>

        <div class="button-group">
            <a href="/login" class="landing-btn">Log in</a>
            <a href="/register-page" class="landing-btn">Sign up</a>
        </div>
    </div>
</body>
</html>